{% extends 'peron/base.html' %}    
{% block content %} 


<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Google map</title>
       <style>
            #map {
                        height: 70vh;
                        width: 98vw;
                        margin-left: auto;
                        margin-right: auto; 
                }
       </style>
</head>
            
            
        <body>

                <div id="map"></div>

                <!-- Modal content-->


                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Modal Header</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <form id="test" method="POST">
                                        <input type="text" name="name" id="name1" placeholder="Some text content" class="form-control"><br>
                                        <input type="text" name="age" placeholder="Some number" class="form-control">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-info" data-dismiss="modal" id="submitForm">Upiši</button>

                                </div>
                                </form>
                            </div>
                        </div>
                    </div>


                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_hksjsFlOquyvz7ODSgkkF2u4n56lglc&callback=initMap&libraries=&v=weekly">
                </script>







        </body>

</html>

{% endblock %}